<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/22b34d33-417a-49b0-a11c-90be2cf8bc6b/resourceGroups/learn-d61c4cc0-6432-4417-b4ad-6f99346944d3/providers/Microsoft.Web/sites/func-app-watch-jlo</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://func-app-watch-jlo.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://func-app-watch-jlo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$func-app-watch-jlo</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>